[submodule "scripts/grafana/grafonnet-lib"]
	path = scripts/grafana/grafonnet-lib
	url = https://github.com/grafana/grafonnet-lib.git

[submodule "scripts/discovery"]
        path = scripts/discovery
        url = https://github.com/bilibili/discovery.git
